<!DOCTYPE html>
<html>
  <head>
    <title>GeekKobe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>GeekKobe</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", students_path %></li>
        <li><%= link_to "新規投稿",students_index_path %></li>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>